<!DOCTYPE html>
<html lang="en">

<!-- Head File -->
<%- include('layouts/head'); %>
<body>
    <!-- Navigation -->
    <%- include('layouts/nav'); %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('assets/img/g-bg.jpeg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Examiner</h1>
                        <span class="subheading">DriveTest Booking Kiosk</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5 mt-5">
        <h1>G Appointments</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Driver</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% gappointments.forEach(appointment => { %>
                    <tr>
                        <td><%= new Date(appointment.appointment.gdate).toDateString() %></td>
                        <td><%= appointment.appointment.gtime %> AM</td>
                        <td><%= appointment.firstName %></td>
                        <td><a href="/driverDetails?driverId=<%= appointment._id %>">View Details</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <h1>G2 Appointments</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Driver</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% g2appointments.forEach(appointment => { %>
                    <tr>
                        <td><%= new Date(appointment.appointment.g2date).toDateString() %></td>
                        <td><%= appointment.appointment.g2time %> AM</td>
                        <td><%= appointment.firstName %></td>
                        <td><a href="/driverDetails?driverId=<%= appointment._id %>">View Details</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>    

<!-- Footer -->
<%- include('layouts/footer'); %>

<!-- Bootstrap scripts -->
<%- include('layouts/script'); %>

</body>
</html>
