<!DOCTYPE html>
<html lang="en">

<!-- Head File -->
<%- include('layouts/head'); %>
<body>
    <!-- Navigation -->
    <%- include('layouts/nav'); %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('assets/img/g-bg.jpeg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>G_Test</h1>
                        <span class="subheading">DriveTest Booking Kiosk</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="mb-3">
                    <h4>Personal Information</h4>
                    <form action="/updateUserDetails" method="POST">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" style="border: none; outline: none;" class="form-control" id="firstName" name="firstName" value="<%= userDetails.firstName %>" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" style="border: none; outline: none;" class="form-control" id="lastName" name="lastName" value="<%= userDetails.lastName %>" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="licenseNumber" class="form-label">License Number</label>
                                <input type="text"  style="border: none; outline: none;" class="form-control" id="licenseNumber" name="licenseNumber" value="<%= userDetails.licenseNumber %>" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" style="border: none; outline: none;" class="form-control" id="age" name="age" value="<%= userDetails.age %>" readonly>
                            </div>                        
                        </div>
                    </div>
                    <hr>
                    <!-- Car Information Section -->
                    <div class="mb-3">
                        <h4>Car Information</h4>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="make" class="form-label">Make</label>
                                <input type="text" class="form-control" id="make" name="make" value="<%= userDetails.carDetails.make %>" required>
                            </div>
                            <div class="col-md-6">
                                <label for="model" class="form-label">Model</label>
                                <input type="text" class="form-control" id="model" name="model" value="<%= userDetails.carDetails.model %>" required>
                            </div>
                            <div class="col-md-6">
                                <label for="year" class="form-label">Year</label>
                                <input type="number" class="form-control" id="year" name="year" value="<%= userDetails.carDetails.year %>" required>
                            </div>
                            <div class="col-md-6">
                                <label for="plateNumber" class="form-label">Plate Number</label>
                                <input type="text" class="form-control" id="plateNumber" name="plateNumber" value="<%= userDetails.carDetails.plateNo %>" required>
                            </div>
                        </div>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4">
                        <button type="submit" class="btn btn-primary text-uppercase">Update Details →</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    

<!-- Footer -->
<%- include('layouts/footer'); %>

<!-- Bootstrap scripts -->
<%- include('layouts/script'); %>

</body>
</html>
